@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/ptsans-400.woff2") format("woff2");
	font-display: swap;
}

@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: url("../fonts/ptsans-700.woff2") format("woff2");
	font-display: swap;
}

html {
	height: 100%;
	background-color: #f2f2f2;
}

body {
	margin: 0;
	min-height: 100%;
	font-family: "PT Sans", sans-serif;
	font-size: 22px;
	line-height: 26px;
	color: #242424;
}

img {
	max-width: 100%;
	height: auto;
	object-fit: contain;
}

.page-container {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	width: 1200px;
	background-color: #ffffff;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.button:focus-visible {
	z-index: 1;
}

.button {
	font-family: inherit;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	display: inline-block;
	line-height: 20px;
	cursor: pointer;
}

.button-brown:hover {
	background-color: #615048;
	outline: none;
}

.button-brown:active {
	background-color: #756157;
	color: rgba(255, 255, 255, 0.3);
}

.button-brown:disabled {
	background-color: #e5e5e5;
}

.button-brown:disabled:hover {
	background-color: #e5e5e5;
	outline: none;
	cursor: default;
}

.button-blue:hover {
	background-color: #68a2ca;
	outline: none;
}

.button-blue:active {
	background-color: #82b3d3;
	color: rgba(255, 255, 255, 0.3);
}

.button-blue:disabled {
	background-color: #e5e5e5;
}

.button-blue:disabled:hover {
	background-color: #e5e5e5;
	outline: none;
	cursor: default;
}

.button-green:hover {
	background-color: #6c9e42;
	outline: none;
}

.button-green:active {
	background-color: #7db54f;
	color: rgba(255, 255, 255, 0.3);
}

.button-green:disabled {
	background-color: #6c9e42;
}

.button-green:disabled:hover {
	background-color: #e5e5e5;
	outline: none;
	cursor: default;
}

.button-clear:hover {
	opacity: 60%;
}

.button-clear:active {
	color: rgba(255, 255, 255, 0.3);
}

.button-clear:disabled {
	opacity: 10%;
}

.button-clear:disabled:hover {
	opacity: 10%;
	outline: none;
	cursor: default;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.main-header {
	color: #000000;
	background: #ffffff;
	z-index: 3;
	padding-inline: 70px;
}

.navigation {
	display: flex;
	flex-wrap: wrap;
	gap: 28px;
	margin: 0 auto;
}

.navigation-list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 0;
	max-width: 339px;
	align-self: start;
}

.navigation-item::marker {
	color: transparent;
}

.navigation-link {
	display: block;
	padding-top: 20px;
	padding-right: 16px;
	padding-bottom: 20px;
	padding-left: 16px;
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	position: relative;
}

.navigation-link:hover {
	color: #756157;
}

.navigation-link:active {
	color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current::after {
	content: "";
	position: absolute;
	z-index: 1;
	height: 2px;
	left: 16px;
	right: 16px;
	bottom: -2px;
	background-color: #756257;
}

.main-header-logo {
	display: block;
	margin-bottom: -6px;
	width: 140px;
	height: 70px;
	flex-shrink: 0;
}

.navigation-user {
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
	align-self: start;
}

.navigation-user .navigation-link {
	box-sizing: border-box;
	min-width: 20px;
	min-height: 20px;
}

.navigation-icon-search::before {
	content: "";
	display: block;
	margin-inline: -4px;
	width: 20px;
	height: 20px;
	background-image: url("../icons/stack.svg#search");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.navigation-icon-heart::before {
	content: "";
	display: block;
	margin-inline: -4px;
	width: 20px;
	height: 20px;
	background-image: url("../icons/stack.svg#heart");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.navigation-icon-number {
	color: #ffffff;
	font-weight: 400;
	font-size: 10px;
	line-height: 10px;
	background-color: #7db54f;
	border-radius: 10px;
	position: absolute;
	top: 9px;
	left: 20px;
	padding: 5px 4.5px;
	min-width: 20px;
	text-align: center;
	box-sizing: border-box;
}

.navigation-link-want {
	font-family: "PT Sans", sans-serif;
	font-size: 16px;
	line-height: 20px;
	color: #ffffff;
	font-weight: 700;
	text-decoration: none;
	padding: 8px 34px;
	margin-top: 14px;
	margin-bottom: 14px;
	margin-left: 20px;
}

.main-container {
	flex-grow: 1;
}

.greeting {
	color: #ffffff;
	background:
		url("../icons/stack.svg#welcome-divider") no-repeat bottom / 1200px 57px,
		url("../images/welcome-background.jpg") no-repeat center / cover;
	position: relative;
	background-color: #a38588;
}

.greeting-welcome-img {
	display: block;
	margin: 0 auto;
	padding-top: 51px;
	padding-right: 371px;
	padding-bottom: 82px;
	padding-left: 371px;
}

.advantages-beginning-text {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	padding: 69px 285px 25px;
	position: relative;
}

.advantages-beginning-reasons {
	text-align: center;
	margin: 0 270px 90px;
}

.advantages-list {
	margin: 0;
	padding: 0;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
	box-sizing: border-box;
}

.advantages-item::marker {
	color: transparent;
}

.advantages-item-text {
	padding: 79px 84px 103px;
}

.advantages-item-text-illustrated {
	padding-top: 68px;
	padding-right: 85px;
	padding-bottom: 93px;
	padding-left: 85px;
}

.advantages-title-background-blue {
	position: relative;
}

.advantages-title-background-blue::after {
	content: "";
	position: absolute;
	z-index: 2;
	height: 2px;
	top: 55px;
	left: 85px;
	background-color: #ffffff;
	opacity: 30%;
	width: 60px;
}

.advantages-title-background-light {
	position: relative;
}

.advantages-title-background-light::before {
	content: "";
	position: absolute;
	z-index: 2;
	height: 2px;
	top: 85px;
	left: 85px;
	background-color: #000000;
	opacity: 30%;
	width: 60px;
}

.advantages-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-bottom: 62px;
}

.advantages-title::after {
	content: "";
	margin: 30px auto;
	width: 60px;
	height: 2px;
	opacity: 0.3;
	background-color: currentcolor;
}

.advantages-description {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.advantages-list-image {
	grid-column-end: span 2;
	object-fit: cover;
}

.advantages-item:where(:nth-child(2n+1)) {
	background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:where(:nth-child(2n+2)) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-illustrated {
	color: #ffffff;
	background-color: #82b3d3;
	grid-column-end: span 3;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.advices-list {
	margin: 0;
	padding: 0;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.advices-item::marker {
	color: transparent;
}

.advices-title::before {
	content: "";
	display: block;
	width: 84px;
	height: 84px;
	background: var(--icon) no-repeat center / contain;
	margin-inline: auto;
	margin-top: 74px;
	margin-bottom: 24px;
}

.advices-title-house::before {
	content: "";
	--icon: url("../icons/stack.svg#house");
}

.advices-title-food::before {
	content: "";
	--icon: url("../icons/stack.svg#food");
}

.advices-title-souvenirs::before {
	content: "";
	--icon: url("../icons/stack.svg#souvenirs");
}

.advices-title {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: center;
	margin-block: 30px;
}

.advices-description {
	text-align: center;
	font-size: 18px;
	line-height: 21px;
}

.advices-item {
	padding-right: 85px;
	padding-bottom: 63px;
	padding-left: 85px;
}

.advices-item:where(:nth-child(2n+1)) {
	background-color: rgba(131, 179, 211, 0.12);
}

.advices-item:where(:nth-child(2n+2)) {
	background-color: #ffffff;
}

.advantages-item-illustrated:nth-of-type(5) .advantages-list-image {
	order: -1;
}

.offer {
	text-align: center;
	padding-top: 96px;
}

.offer-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	padding-right: 451px;
	padding-bottom: 20px;
	padding-left: 451px;
}

.offer-text {
	margin: 0;
	padding-right: 304px;
	padding-bottom: 54px;
	padding-left: 304px;
}

.button-search {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
	font-weight: 700;
	padding: 8px 50px;
	margin: 0;
	margin-right: 412px;
	margin-bottom: 96px;
	margin-left: 412px;
}

.subscription {
	background-image: url("../images/subscription-background-image.jpg");
	background-color: #a09b95;
	color: #ffffff;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: top;
	text-align: center;
	padding: 96px 258px 104px;
}

.subscription-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.subscription-text {
	color: #ffffff;
	text-align: center;
	margin: 0;
	margin-bottom: 54px;
}

.field:focus-visible {
	z-index: 1;
}

.field {
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #f2f2f2;
	border: none;
	border-radius: 4px 0 0 4px;
	width: 452px;
	padding-top: 14px;
	padding-right: 20px;
	padding-bottom: 14px;
	padding-left: 20px;
}

.subscription-form {
	display: flex;
	margin: 0;
	justify-content: center;
}

.subscription-button-sign-up {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
	background-color: #82b3d3;
	font-weight: 700;
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 50px;
	border: none;
	margin: 0;
	border-radius: 0 4px 4px 0;
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 70px 30px;
}

.footer-social-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 144px;
	margin: 0;
	padding: 0;
}

.footer-social-item::marker {
	color: transparent;
}

.footer-social-link {
	display: block;
	padding: 8px 12px;
	color: #83b3d3;
}

.footer-social-link:hover {
	color: #68a2ca;
}

.footer-social-link:active {
	color: rgba(104, 162, 202, 0.3);
}

.footer-social-link:disabled {
	opacity: 0.3;
}

.footer-social-link:disabled:hover {
	opacity: 0.3;
	cursor: default;
}

.footer-social-link::before {
	content: "";
	display: block;
	width: 24px;
	height: 24px;
	mask: var(--icon) no-repeat center / contain;
	background: currentcolor;
}

.footer-button-vkontakte {
	--icon: url("../icons/stack.svg#vkontakte");
}

.footer-button-telegram {
	--icon: url("../icons/stack.svg#telegram");
}

.footer-button-youtube {
	--icon: url("../icons/stack.svg#youtube");
}

.footer-contact {
	margin: 0;
	margin-top: 5px;
}

.footer-contact-address {
	text-align: center;
	font-style: normal;
	padding-bottom: 5px;
}

.footer-contact-address-phone {
	font-size: 40px;
	line-height: 40px;
	color: #000000;
	text-decoration: none;
	font-family: "PT Sans", sans-serif;
}

.footer-contact-address-phone:hover {
	outline: none;
	color: #756157;
}

.footer-contact-address-phone:active {
	color: rgba(117, 97, 87, 0.3);
}

.footer-link {
	width: 115px;
	height: 33px;
	color: #000000;
}

.htmlacademy-link {
	color: #000000;
	outline: none;
}

.htmlacademy-link::before {
	content: "";
	display: block;
	width: 115px;
	height: 33px;
	mask: url("../icons/stack.svg#logo-htmlacademy") no-repeat center / contain;
	background: currentcolor;
}

.htmlacademy-link:hover::before {
	color: #756157;
}

.htmlacademy-link:active::before {
	color: rgba(117, 97, 87, 0.3);
}

.modal-container {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	background-color: rgba(242, 242, 242, 0.8);
	z-index: 100;
}

.modal-container-close {
	display: none;
}

.modal {
	box-sizing: border-box;
	position: relative;
	margin: auto;
	padding-top: 64px;
	padding-right: 70px;
	padding-bottom: 64px;
	padding-left: 70px;
	background-color: #ffffff;
	width: 717px;
	border-radius: 30px;
}

.modal-close-button {
	position: absolute;
	padding: 0;
	top: 64px;
	right: 52px;
	width: 52px;
	height: 52px;
	border: none;
	border-radius: 50px;
	background: #f2f2f2;
	color: #000000;
}

.modal-close-button::before {
	content: "";
	display: block;
	width: 52px;
	height: 52px;
	mask: url("../icons/stack.svg#modal-close") no-repeat center / 21px 21px;
	background: currentcolor;
}

.modal-close-button::after {
	content: "";
	position: fixed;
	z-index: -1;
	inset: 0;
}

.modal-close-button:hover {
	background-color: #e6e6e6;
}

.modal-close-button:active {
	color: rgb(0 0 0 / 0.3);
}

.modal-close-button:disabled {
	opacity: 0.3;
}

.modal-close-button:disabled:hover {
	opacity: 0.3;
}

.modal-tittle {
	margin: 0 0 64px;
	font-family: "PT Sans", sans-serif;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	color: #242424;
	background-color: #ffffff;
	text-transform: uppercase;
}

.numbers-container {
	display: flex;
	justify-content: space-between;
}

.numbers-wrapper {
	display: grid;
	grid-template-columns: auto 40px 31px 40px;
	grid-template-areas: "tooltip minus input plus";
	grid-template-rows: 48px;
}

.search-form {
	display: grid;
	gap: 2px;
}

.search-form-field {
	display: grid;
	grid-template-columns: 133px 1fr;
	gap: 4px;
}

.search-form-field::after {
	content: "";
	grid-area: 2 / 1 / 3 / 2;
	display: block;
	height: 42px;
}

.search-form-field-with-tooltip {
	grid-template-columns: max-content 1fr;
}

.search-form-input {
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 12px 60px 12px 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background-color: #f2f2f2;
}

.search-form-input:hover {
	background-color: #e6e6e6;
}

.search-form-input:active {
	box-shadow: inset 0 0 0 2px #000000;
}

.search-form-input:disabled {
	opacity: 0.3;
}

.search-form-input:disabled:hover {
	opacity: 0.3;
}

.search-form-input::placeholder {
	font: inherit;
	color: inherit;
	opacity: 0.6;
}

.search-form-input-date {
	box-sizing: border-box;
	border: none;
	border-radius: 4px;
	padding: 12px 60px 12px 20px;
	font-family: "PT Sans", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	background: #f2f2f2 url("../icons/stack.svg#calendar") no-repeat center right 20px / 20px 20px;
}

.search-form-input-number {
	box-sizing: border-box;
	grid-area: input;
	width: 31px;
	border-radius: 0;
	font-size: 18px;
	line-height: 24px;
	padding: 12px 10px;
	text-align: center;
	appearance: textfield;
}

.search-form-input-number:focus-visible {
	z-index: 1;
}

.search-form-input-number::-webkit-outer-spin-button,
.search-form-input-number::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.form-button-number {
	box-sizing: border-box;
	display: grid;
	place-items: center;
	margin: 0;
	padding: 0;
	border: 0;
	width: 40px;
	height: 48px;
	color: rgb(117 97 87 / 0.3);
	background: #f2f2f2;
}

.form-button-number:focus-visible {
	z-index: 1;
}

.form-button-number:hover {
	color: rgb(0 0 0);
}

.form-button-number:active {
	color: rgb(0 0 0 / 0.2);
}

.form-button-number:disabled {
	opacity: 0.3;
}

.form-button-number:disabled:hover {
	opacity: 0.3;
}

.form-button-number::before {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	mask: var(--icon) no-repeat center / contain;
	background: currentcolor;
}

.form-button-number-minus {
	--icon: url("../icons/stack.svg#minus");
	grid-area: minus;
	border-radius: 4px 0 0 4px;
}

.form-button-number-plus {
	--icon: url("../icons/stack.svg#plus");
	grid-area: plus;
	border-radius: 0 4px 4px 0;
}

.search-form-label {
	grid-area: 1 / 1 / 2 / 2;
	padding-block: 12px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 700;
}

.field-caption {
	grid-area: 2 / 2 / 3 / 3;
	font-size: 16px;
	line-height: 21px;
	padding-inline: 20px;
	color: #333333;
}

.search-form-input-error ~ .field-caption-error {
	display: block;
	color: #ff5757;
}

.search-form-input-success ~ .field-caption-success {
	display: block;
}

.tooltip {
	position: relative;
	grid-area: tooltip;
	margin-inline: 6px 46px;
	align-self: center;
	cursor: help;
}

.tooltip::after {
	content: "";
	display: block;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #83b3d3 url("../icons/stack.svg#info") no-repeat center / 20px;
}

.tooltip-text {
	box-sizing: border-box;
	position: absolute;
	z-index: 1;
	top: calc(100% + 15px);
	left: 50%;
	transform: translateX(-50%);
	padding: 20px 18px 23px 22px;
	width: 256px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	text-transform: none;
	color: #ffffff;
	background-color: #333333;
	box-shadow: 0 15px 30px rgb(0 0 0 / 0.3);
	visibility: hidden;
	opacity: 0.01;
	transition: visibility 0.3s, opacity 0.3s;
}

.tooltip-text::before {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	transform: translateX(-50%);
	width: 39px;
	height: 15px;
	background: url("../icons/stack.svg#triangle") no-repeat bottom / 19px 9px;
}

:is(.tooltip:hover, .search-form-input:focus-visible ~ .tooltip) .tooltip-text {
	visibility: visible;
	opacity: 1;
}

.search-form-button-submit {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 24px;
	color: #ffffff;
	background-color: #82b3d3;
	font-weight: 700;
	padding: 18px 36px;
	border: none;
	margin: 0;
	border-radius: 10px;
	width: 577px;
}

/*Catalog*/

.hotel-filtration {
	background-image: url("../images/catalog-background-image.jpg");
	background-color: #5a585d;
	color: #ffffff;
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 35px;
	padding-right: 70px;
	padding-bottom: 70px;
	padding-left: 70px;
	background-size: cover;
}

.hotel-filtration-filter-group {
	margin: 0;
	padding: 0;
	border: none;
	display: flex;
	flex-direction: column;
}

.control-input:hover {
	opacity: 60%;
}

.control-input:active {
	opacity: 30%;
}

.control-input:disabled {
	opacity: 0.3;
}

.control-input:disabled:hover {
	opacity: 0.3;
}

.hotel-filtration-filter-group-price {
	margin-left: auto;
}

.hotel-filtration-title {
	font-weight: 700;
	font-size: 60px;
	line-height: 78px;
	margin: 0;
	padding-bottom: 8px;
}

.hotel-filtration-breadcrumbs-link {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.5em;
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	font-weight: 400;
	text-align: center;
	text-decoration: none;
}

.hotel-filtration-breadcrumbs-list {
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;
	padding-bottom: 40px;
}

.hotel-filtration-breadcrumbs-item {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

.hotel-filtration-breadcrumbs-link:hover {
	opacity: 60%;
}

.hotel-filtration-breadcrumbs-link:active {
	color: rgba(255, 255, 255, 0.3);
}

.hotel-filtration-breadcrumbs-item::marker {
	color: transparent;
}

.hotel-filtration-breadcrumbs-item:not(:last-child)::after {
	content: "";
	display: block;
	margin-inline: 10px;
	width: 8px;
	height: 20px;
	background: url("../icons/stack.svg#bradcrumbs-arrow") no-repeat center / 100%;
}

.hotel-filtration-icon-home::before {
	content: "";
	display: block;
	width: 13px;
	height: 15px;
	background-image: url("../icons/stack.svg#bradcrumbs-home");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.hotel-filtration-form {
	display: flex;
	flex-wrap: wrap;
	column-gap: 70px;
}

.hotel-filtration-filter-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	padding-bottom: 32px;
}

.hotel-filtration-filter-list {
	margin: 0;
	padding: 0;
}

.hotel-filtration-filter-item:not(:last-child) {
	margin-bottom: 16px;
}

.hotel-filtration-filter-item::marker {
	color: transparent;
}

.control {
	position: relative;
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	display: flex;
	gap: 16px;
}

.control:not(:last-child) {
	margin-bottom: 16px;
}

.control-input {
	display: grid;
	font-family: inherit;
	margin: 0;
	width: 20px;
	height: 20px;
	appearance: none;
	background-color: #ffffff;
}

.control-input-checkbox {
	border-radius: 4px;
}

.control-input-radio {
	border-radius: 10px;
}

.control-input[type="radio"]:checked::before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-image: url("../icons/stack.svg#radio");
	border-radius: 10px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.control-input[type="checkbox"]:checked::before {
	content: "";
	display: block;
	height: 100%;
	width: 100%;
	background-image: url("../icons/stack.svg#checkbox");
	border-radius: 4px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hotel-filtration-buttons {
	display: flex;
	flex-direction: column;
	padding-top: 56px;
}

.button-apply {
	background-color: #82b3d3;
	padding: 8px 50px;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 32px;
}

.button-reset {
	background-color: rgba(28, 28, 28, 0);
	padding: 8px 50px;
	font-size: 16px;
	line-height: 20px;
}

.range-wrapper-inputs {
	display: flex;
	justify-content: center;
	padding-bottom: 44px;
}

.catalog-filter-label {
	display: flex;
	position: relative;
	margin-right: 2px;
}

.catalog-filter-text {
	position: absolute;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	opacity: 30%;
	font-weight: 400;
	text-align: center;
	top: 10px;
	right: 20px;
}

.range-input {
	width: 143px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left: 20px;
	font-family: "PT Sans", sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 700;
	color: #242424;
	background-color: #ffffff;
	border: none;
	appearance: textfield;
	box-sizing: border-box;
}

.range-input:hover {
	background-color: #e6e6e6;
	outline: none;
}

.range-input:active {
	background-color: #e6e6e6;
	outline: 2px solid #000000;
}

.range-input:disabled {
	opacity: 0.3;
}

.range-input:disabled:hover {
	opacity: 0.3;
}

.range-input-left {
	border-radius: 4px 0 0 4px;
}

.range-input-right {
	border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
	appearance: none;
	margin: 0;
}

.control-mark {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 4px;
	background-color: #ffffff;
	top: 2px;
	left: 0;
}

.range-scale {
	position: relative;
	height: 4px;
	color: #ffffff;
}

.range-bar {
	position: absolute;
	height: 4px;
	background-color: #ffffff87;
}

.range-bar::before {
	content: "";
	display: block;
	width: 226px;
	height: 4px;
	background: #ffffff;
}

.range-square {
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 5px;
	cursor: pointer;
	border: none;
	background-color: #ffffff;
}

.range-square:hover {
	outline: none;
}

.range-square:active {
	outline: 2px solid #83b3d3;
}

.square-min {
	top: -8px;
	left: 0;
}

.square-max {
	top: -8px;
	right: 59px;
}

.catalog-sorting {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
	padding-right: 70px;
	padding-bottom: 40px;
	padding-left: 70px;
	column-gap: 70px;
}

.catalog-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-transform: uppercase;
	margin: 0;
	margin-right: auto;
	align-self: center;
}

.select-control {
	appearance: none;
	box-sizing: border-box;
	width: 292px;
	font: inherit;
	font-weight: 400;
	font-size: 18px;
	line-height: 21px;
	border: 2px solid #e5e5e5;
	border-radius: 4px;
	padding-block: 12px;
	padding-inline: 15px 45px;
	background: url("../icons/stack.svg#arrow-select") no-repeat right 18px center / 12px 9px;
}

.select-control:hover {
	border-color: #68a2ca;
}

.select-control:active {
	border-color: #3f5e72;
}

.select-control:disabled {
	border-color: rgba(0, 0, 0, 0.3);
}

.select-control:disabled:hover {
	cursor: default;
	border-color: rgba(0, 0, 0, 0.3);
}

.catalog-view-buttons {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 8px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.catalog-view-button {
	border: 2px solid #e5e5e5;
	padding: 15px 14px;
}

.catalog-view-button:hover {
	border-color: #000000;
}

.catalog-view-button:active {
	border-color: #000000;
}

.catalog-view-button:disabled {
	opacity: 0.3;
}

.catalog-view-button:disabled:hover {
	opacity: 0.3;
	cursor: default;
}

.catalog-view-button[aria-current="page"] {
	border-color: #000000;
}

.catalog-view-button-cards::before {
	content: "";
	display: block;
	width: 16px;
	height: 14px;
	background-image: url("../icons/stack.svg#view-cards");
}

.catalog-view-button-card::before {
	content: "";
	display: block;
	width: 16px;
	height: 14px;
	background-image: url("../icons/stack.svg#view-card");
}

.catalog-view-button-list::before {
	content: "";
	display: block;
	width: 16px;
	height: 14px;
	background-image: url("../icons/stack.svg#view-list");
}


.catalog-link {
	font-family: "PT Sans", sans-serif;
	border-radius: 4px;
	border: 2px solid #e5e5e5;
}

.hotels-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px 20px;
	width: 1060px;
	margin: 0 auto;
	padding: 0;
}

.hotels-card::marker {
	color: transparent;
}

.hotels-card {
	padding: 20px;
	box-shadow: 0 0 0 1px #e6e6e6;
	display: grid;
	grid-template-rows: 1fr min-content;
}

.hotels-card-link {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 28px;
	color: #000000;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: min-content 1fr;
}

.hotels-card-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	grid-area: 2/1/3/3;
	margin-block: 16px;
	text-align: left;
}

.hotels-card-image {
	width: 300px;
	height: 212px;
	grid-area: 1/1/1/3;
}

.hotels-card-content {
	display: grid;
	grid-template-columns: 140px 140px;
	column-gap: 20px;
	row-gap: 16px;
	align-items: center;
}

.hotels-card-type {
	font-size: 18px;
	line-height: 21px;
	margin: 0;
}

.hotels-card-price {
	font-size: 18px;
	line-height: 21px;
	text-align: right;
}

.hotels-button {
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	background-color: #756157;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
	border: none;
	display: inline-block;
}

.hotels-card-button-more {
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.hotels-card-button-in-favourites {
	background-color: #82b3d3;
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.hotels-card-button-added {
	background-color: #7db54f;
	font-size: 16px;
	line-height: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.hotel-stars::after {
	content: "";
	display: block;
	width: calc(24px * var(--star-count) - 6px);
	height: 17px;
	background: url("../icons/stack.svg#star") repeat-x left / 24px 17px;
}

.hotel-stars-1 {
	--star-count: 1;
}

.hotel-stars-2 {
	--star-count: 2;
}

.hotel-stars-3 {
	--star-count: 3;
}

.hotel-stars-4 {
	--star-count: 4;
}

.hotel-stars-5 {
	--star-count: 5;
}

.hotels-card-rating {
	font-size: 16px;
	line-height: 20px;
	background-color: #f2f2f2;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #000000;
	font-weight: 400;
	margin: 0;
}


.pagination {
	display: flex;
	margin: 0;
	padding: 0;
	padding-top: 80px;
	padding-right: 70px;
	padding-bottom: 60px;
	padding-left: 70px;
	position: relative;
}

.pagination::before {
	position: absolute;
	content: "";
	display: block;
	width: 1060px;
	height: 1px;
	background: #e6e6e6;
	top: 40px;
}

.pagination-item::marker {
	color: transparent;
}

.pagination-item {
	margin-right: 8px;
}

.pagination-link-current {
	background-color: #f2f2f2;
	color: #000000;
	padding: 11px 19px 13px 18px;
	font-size: 20px;
	line-height: 36px;
	min-width: 60px;
	box-sizing: border-box;
}

.pagination-link {
	font-size: 20px;
	line-height: 36px;
	background-color: #82b3d3;
	padding: 11px 19px 13px 18px;
	box-sizing: border-box;
	min-width: 60px;
}

.pagination-link-triplet {
	font-size: 20px;
	line-height: 36px;
	color: #000000;
	text-decoration: none;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 11px 19px 13px 18px;
	min-width: 60px;
}

.catalog-subscription {
	background: #ffffff;
	color: #000000;
	text-align: center;
	padding-top: 96px;
	padding-bottom: 104px;
}

.catalog-subscription-title {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
	text-align: center;
	text-transform: uppercase;
	margin: 0;
	margin-bottom: 20px;
}

.catalog-subscription-text {
	margin: 0;
	margin-bottom: 54px;
}

.catalog-subscription-form {
	display: flex;
	justify-content: center;
	margin: 0;
}

.field:hover {
	outline: 2px solid #68a2ca;
}

.field:active {
	outline: 2px solid #3f5e72;
}

.field:disabled {
	outline: none;
	opacity: 0.3;
}

.field:disabled:hover {
	cursor: default;
	outline: none;
	opacity: 0.3;
}

.catalog-button-sign-up {
	font-family: "PT Sans", sans-serif;
	font-size: 20px;
	line-height: 36px;
	color: #ffffff;
	background-color: #82b3d3;
	font-weight: 700;
	padding-top: 8px;
	padding-right: 50px;
	padding-bottom: 8px;
	padding-left: 50px;
	border: none;
	border-radius: 0 4px 4px 0;
	margin: 0;
}
